.navbar-brand{
    font-size: 30px;
}
.nav-link{
    font-size: 25px;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    display: flex;
}
.nav-item.active.login{
    padding-left: 10px;
}
.nav-item.active.home{
    padding-left: 1550px;
}
